<head>
<title>CanvasJS Chart jQuery Plugin</title>
<script type="text/javascript" src="/assets/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.canvasjs.min.js"></script>
<script type="text/javascript">
$(function () {
	var limit = 10000;    //increase number of dataPoints by increasing the limit
	var y = 0;
	var data = [];
	var dataSeries = { type: "line" };
	var dataPoints = [];
